<ion-view title="สอบถามอาการ" style="background-color:#f8f8f8;">
  <ion-nav-bar >

  </ion-nav-bar>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-telephone"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
  
    <a  id="chatss-button1" style="background-color: #7ec8ba;" class="button button-calm button-block">ซักอาการ</a>
    <ion-list id="chatss-list1" >
      <ion-item class="item-avatar"  ui-sref="tab.chats ()">
        <img src="img/doctorJame.jpg">
        <h2>นพ.เจม บอนด์</h2>
        <p>12-06-2017</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>