<ion-view title="News" style="background-color:#f8f8f8;" >
 <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-reply" ui-sref="tab.dash()" ></button>
  </ion-nav-buttons>
  <ion-nav-bar >
  </ion-nav-bar>
  <ion-content  padding="true" >
    <pre style="color: black">
      การผ่าตัดทําทางเบี่ยงหลอดเลือดหัวใจ
Coronary artery bypass graft (CABG)

CABG คือการผ่าตัดรักษาโรคหลอดเลือดหัวใจตีบ ด้วยการนำเส้นเลือดจากหน้าอก ขา หรือแขน มาทำทางเบี่ยงข้ามเส้นเลือดหัวใจบริเวณที่ตีบหรืออุดตัน การผ่าตัดมีจุดมุ่งหมายที่จะหลีกเลี่ยงหลอดเลือดแดงที่อุดตันเพื่อเพิ่มการไหลเวียนของเลือดไปยังกล้ามเนื้อหัวใจ ศัลยแพทย์จะต่อหลอดเลือดใหม่จากเส้นเลือดใหญ่ที่ออกจากหัวใจ ไปเหนือจุดหลอดเลือดหัวใจที่มีการอุดตันเพื่อสร้างทางเดินหลอดเลือดใหม่
 
ทางเลือกอื่นๆในการรักษาที่ไม่ต้องทำ CABG

การใช้ยากลุ่ม แคลเซียมชาแนลบล็อกเกอร์ เบต้าบล็อกเกอร์ สเตติน และยาต้านการแข็งตัวของเลือด จะทำให้อาการดีขึ้นหรือป้องกันไม่ให้อาการเลวร้ายลง
การทำบอลลูนหลอดเลือดหัวใจเป็นการใส่ท่อพลาสติกที่เรียกว่าสายสวนเข้าไปในหลอดเลือดหัวใจ บอลลูนที่แนบมากับสายสวนจะช่วยขยายหลอดเลือดแดงที่แคบให้เลือดไหลไปยังกล้ามเนื้อหัวใจได้ง่ายขึ้น
 
การเตรียมความพร้อมสำหรับการทำ CABG 

ถ้าสูบบุหรี่จะต้องหยุดการสูบบุหรี่ ต้องนอนโรงพยาบาลประมาณ 5 วัน มีการใช้ยาสลบระหว่างผ่าตัด งดน้ำและอาหาร 6 ชั่วโมงก่อนการผ่าตัด ลงชื่อในใบยินยอมการผ่าตัด
 
สิ่งที่เกิดขึ้นในระหว่างการทำ CABG

ขั้นตอนแรกจะเป็นการเตรียมหลอดเลือดที่จะนำไปทำทางเบี่ยง หลังจากนั้นก็ทำการผ่าตัดหัวใจเพื่อนำหลอดเลือดที่เตรียมไว้ตัดต่อกับเส้นเลือดใหญ่แล้วยกข้ามเหนือหลอดเลือดบริเวณที่มีการอุดตัน ใช้เวลาประมาณ 3-4 ชั่วโมงในกระบวนการผ่าตัด
 
การดูแลหลังผ่าตัด 

หลังการผ่าตัดจะต้องได้รับการดูแลอย่างใกล้ชิดประมาณ 24 ชั่วโมงในห้องไอซียู หากไม่มีภาวะแทรกซ้อนใด ๆ หลังจากนั้นก็จะย้ายไปยังหอผู้ป่วยปกติ นักกายภาพบำบัดจะมาดูแลในส่วนของการเคลื่อนไหวและให้คำแนะนำเกี่ยวกับการออกกำลังกายและการฟื้นฟูหลังผ่าตัด เมื่อพร้อมที่จะกลับบ้านจะต้องจัดให้มีคนดูแลใกล้ชิดต่อที่บ้านอีกประมาณ 1สัปดาห์

การพักฟื้นหลังจากการทำ CABG 

ใช้เวลาประมาณ 2 -3 เดือนในการฟื้นฟูเต็มรูปแบบ หากมีอาการปวดสามารถใช้ยาแก้ปวด พาราเซตามอล หรือ ไอบูโปรเฟน  ไม่ยกของหนักหรือทำกิจกรรมที่ใช้กำลัง ไม่ขับรถอย่างน้อย 1 เดือน
 
ผลข้างเคียง ที่ไม่พึงประสงค์ส่วนใหญ่จะเกิดขึ้นชั่วคราว ได้แก่ บวมและช้ำรอบแผลผ่าตัด รอยแผลเป็น

ภาวะแทรกซ้อน ที่อาจพบได้มีดังต่อไปนี้ การแพ้ยาสลบ การติดเชื้อ เลือดออกมากเกินไปหรือมีลิ่มเลือดอุดตันที่หลอดเลือดดำบริเวณขา ส่วนที่เป็นภาวะแทรกซ้อนที่รุนแรง แต่พบน้อยมาก ได้แก่ หัวใจวาย โรคหลอดเลือดสมอง ไตวาย
    </pre>

  </ion-content>
</ion-view>