<ion-view title="News" style="background-color:#f8f8f8;" >
 <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-reply" ui-sref="tab.dash()" ></button>
  </ion-nav-buttons>
  <ion-nav-bar >
  </ion-nav-bar>
  <ion-content  padding="true" >
    <pre style="color: black">ภาวะไขมันในเลือดสูง
ภาวะไขมันในเลือดสูง (โคเลสเตอรอลสูง)

       โคเลสเตอรอล คือ ไขมันชนิดหนึ่งที่ร่างกายเราสร้างขึ้น พบในทุกๆเซลล์ของร่างกาย แต่หากมีปริมาณสูงเกินไปจะทำให้เกิดโรคหัวใจและหลอดเลือด เช่น โรคหัวใจขาดเลือด และโรคเลือดสมอง เป็นต้น เนื่องจากไขมันในเลือดสูงจะทำให้เกิดการสะสมของไขมันตามผนังหลอดเลือดจนที่สุดหลอดเลือดจะแคบทำให้ออกซิเจนมาเลี้ยงบริเวณต่างๆไม่พอ  เช่น มาเลี้ยงกล้ามเนื้อหัวใจไม่พอจนทำให้เกิดโรคหัวใจขาดเลือดได้ซึ่งมีอาการเด่น คือ อาการเจ็บแน่นหน้าอก เป็นต้น

ชนิดของโคเลสเตอรอล

       - HDL เป็นโคเลสเตอรอลที่ดี ช่วยป้องกันการสะสมของโคเลสเตอรอลตามผนังหลอดเลือดได้                                                    
       - LDL เป็นโคเลสเตอรอลที่ไม่ดี แต่พบมากที่สุดในร่างกาย LDLจะสะสมตามผนังหลอดเลือด
       - Triglyceride(TG) การมีLDLสูง ร่วมกับTGสูง จะเพิ่มความเสี่ยงในการเป็นโรคหัวใจได้

อาการของภาวะไขมันในเลือดสูง

    ส่วนใหญ่มักไม่มีอาการ แต่อาจพบไขมันสะสมบริเวณตา และผิวหนังเป็นผื่นนูนเล็กๆสีเหลืองได้ เรียกว่า Xanthoma และจะแสดงอาการในกรณีมีภาวะแทรกซ้อนแล้ว เช่น อาการของโรคหัวใจขาดเลือด เป็นต้น

ภาวะแทรกซ้อนของภาวะไขมันในเลือดสูง

     เพิ่มความเสี่ยงในการเป็นโรคหัวใจ โรคหลอดเลือดสมอง(อัมพฤกษ์, อัมพาต) และอาจส่งผลกับหลอดเลือดแดงได้ทั่วร่างกาย เช่น บริเวณขา เรียกว่าโรคเส้นเลือดแดงส่วนปลายอุดตัน  

สาเหตุของภาวะไขมันในเลือดสูง

    เกิดจากปัจจัยหลักๆ ได้แก่ กินอาหารที่มีไขมันชนิดอิ่มตัว, ไม่ออกกำลังกาย, น้ำหนักเกินเกณฑ์, กินเครื่องดื่มแอลกฮอล์,   สูบบุหรี่ และอายุที่เพิ่มขึ้น
     ส่วนปัจจัยอื่นๆ ได้แก่ พันธุกรรม(พบได้น้อย เป็นภาวะไขมันในเลือดสูงตามพันธุกรรม), เบาหวานที่ควบคุมได้ไม่ดี, ภาวะไทรอยด์ต่ำ, ยา เช่น ยาคุมกำเนิด, ยาขับปัสสาวะบางตัว(Thiazide) เป็นต้น

การวินิจฉัยภาวะไขมันในเลือดสูง

      สามารถวินิจฉัยได้จากการเจาะเลือดส่งตรวจทางห้องปฏิบัติการ ค่าระดับไขมันในเลือดนั้นส่งผลต่อการวินิจฉัย และวิธีการรักษาซึ่งเกณฑ์ต่างๆนี้ขึ้นอยู่กับแนวทางรักษาของแต่ละประเทศ

การรักษาภาวะไขมันในเลือดสูง

     - การดูแลตนเอง : ลดการกินอาหารที่มีไขมันชนิดอิ่มตัวสูง(มันสัตว์, เครื่องใน, ไข่แดง และของทอด เป็นต้น), ลดน้ำหนัก, ออกกำลังกาย(สามารถเพิ่มโคเลสเตอรอลดีได้;HDL)
     - การรักษาด้วยยา : แพทย์จะเป็นผู้คำนวณความเสี่ยงในการเกิดโรคหัวใจและหลอดเลือดสูง หากมีความเสี่ยงสูงจะพิจารณาให้การรักษาด้วยยา อย่างไรก็ตามต้องทำควบคู่กับการดูแลตนเองเสมอ</pre>

  </ion-content>
</ion-view>