<ion-view title="News" style="background-color:#f8f8f8;" >
 <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-reply" ui-sref="tab.dash()" ></button>
  </ion-nav-buttons>
  <ion-nav-bar >
  </ion-nav-bar>
  <ion-content  padding="true" >
    <pre style="color: black">
    	การดูแลสุขภาพฟัน
การดูแลสุขภาพฟัน
Caring for your teeth

กุญแจสำคัญ
การมีสุขอนามัยของฟันที่ดีเป็นส่วนสำคัญมากในการดูแลสุขภาพฟัน
ปัญหาทางทันตกรรมที่พบบ่อย ได้แก่ ฟันผุ โรคเหงือก และฟันสึก
เราสามารถป้องกันปัญหาเหล่านี้ได้โดยการแปรงฟันวันละ 2 ครั้ง, ใช้ไหมขัดฟันวันละ 1 ครั้ง, ไปพบทันตแพทย์อย่างสม่ำเสมอ(ความถี่ขึ้นอยู่กับสุขภาพฟันและเหงือกของแต่ละคนด้วย) และจำกัดการรับประทานอาหารที่มีน้ำตาลสูง
ฟันผุ

เมื่อผิวของฟันถูกปกคลุมไปด้วยแผ่นที่บางและเหนียวที่เกิดจากแบคทีเรียเรียกว่า ขี้ฟัน เมื่อเรากินสิ่งใดๆก็ตามที่มีน้ำตาล แบคทีเรียบนฟันจะเปลี่ยนน้ำตาลเป็นพลังงานและกรด กรดนี้จะค่อยๆทำให้สารเคลือบฟันบางตัว โดยต่อมาจะทำให้เกิดโพรงได้ซึ่งเรียกว่า ฟันผุ
ผิวของสารเคลือบฟันไม่มีเส้นประสาท ดังนั้นเราจึงไม่รู้สึกปวดแม้ว่าจะมีโพรงที่ฟันแล้วก็ตาม และโพรงที่เกิดขึ้นอาจจะลึกเข้าไปถึงเนื้อฟันได้ เนื้อฟันนั้นถูกปกคลุมไปด้วยหลอดเลือดและเส้นประสาท ดังนั้นหากมีฟันผุมากอาจมีอาการปวดได้โดยเฉพาะเมื่อขณะรับประทานของร้อนๆ ของหวานหรือเป็นกรด อย่างไรก็ตามน้ำลายจะช่วยล้างคราบแบคทีเรียและช่วยปรับสภาพความเป็นกรดให้เป็นกลางได้ แต่ว่าน้ำลายก็ไม่สามารถที่จะขจัดได้ทั้งหมด

โรคเหงือก      
    
โรคเหงือก คือ การอักเสบของเหงือกและอาจรวมไปถึงกระดูกที่ยึดฟันกับขากรรไกรด้วย โรคเหงือกนั้นพบได้มากกว่าครึ่งหนึ่งของคนที่มีฟันธรรมชาติ ถ้าหากเราไม่แปรงฟันเพื่อขจัดขี้ฟันออกไปอย่างสม่ำเสมอ เหงือกจะมีอาการบวมแดง บางและอาจมีเลือดออกได้ ซึ่งในระยะแรกนี้เรียกว่า เหงือกอักเสบ ซึ่งรักษาได้ง่ายด้วยการขจัดขี้ฟันออกและแปรงฟันร่วมกับการใช้ไหมขัดฟัน
การรักษาเหงือกอักเสบตั้งแต่ระยะเริ่มต้นมีความสำคัญเพราะ อาจทำให้เหงือกร่นจนทำให้เกิดฟันโยก/หลุดตามมาได้และเกิดร่องลึกบริเวณรอบฟัน ซึ่งเรียกว่า โรคปริทันต์ ซึ่งหากเป็นโรคนี้แล้ว ขี้ฟันอาจเข้าไปสะสมอยู่ในร่องลึกปริทันต์ซึ่งไม่สามารถแปรงฟันเพื่อขจัดออกได้ เมื่อสะสมเป็นเวลานานจะทำให้ขี้ฟันแข็งตัวขึ้นกลายเป็นหินปูนได้ หากร่องลึกปริทันต์นั้นมีความลึกที่มากขึ้นยิ่งทำให้ทำความสะอาดได้ยากและเกิดการติดเชื้อตามมาได้ นอกจากขี้ฟันจะทำลายเหงือกแล้วยังทำลายกระดูกบริเวณนั้นด้วย ซึ่งหากไม่ได้รักการรักษาเป็นเวลาหลายๆปี จะทำให้ฟันโยกมากและทำให้ต้องถอนออกในที่สุด
 
 
ฟันสึก

ฟันสึกคือการสูญเสียสารเคลือบฟันและเนื้อฟันเนื่องจากมีกรดมาทำลายบริเวณผิวฟัน แต่ฟันสึกนั้นเกิดจากกรดที่มาจากน้ำดื่มและอาหาร เช่น น้ำผลไม้, น้ำอัดลม(รวมถึงชนิด Diet ด้วย), ขนมกรุบกรอบ และซอสมะเขือเทศ เป็นต้น  ฟันสึกนั้นพบได้บ่อยโดยเฉพาะในเด็ก
เราสามารถลดฟันสึกได้โดยการจำกัดการกินน้ำดื่มที่เป็นกรด กรณีถ้ามีเด็กเล็ก พยายามให้เด็กกินเฉพาะน้ำหรือนมเท่านั้น หากเด็กอยากดื่มจริงๆให้เด็กกินจากแก้วหรือหลอดเพื่อลดการสัมผัสกับฟัน และห้ามให้เด็กดื่มผ่านขวดนมเด็ดขาด รวมถึงในเด็กที่อาเจียนบ่อยๆก็มีโอกาสฟันสึกได้สูงจากกรดในกระเพาะอาหาร ฟันสึกที่เกิดขึ้นนั้นเป็นภาวะถาวรโดยหากสึกเข้าไปถึงเนื้อฟันจะทำให้ฟันเปราะบางมากขึ้นจนให้เกิดฟันเหลือง และมีโอกาสเกิดฟันผุสูงขึ้น

ดูแลฟันได้อย่างไรบ้าง
 

การแปรงฟัน: เป็นส่วนสำคัญที่จะช่วยขจัดขี้ฟันได้ โดยเลือกใช้แปรงสีฟันที่มีหัวขนาดเล็ก, ใช้ยาสีฟันที่มีส่วนผสมของฟลูออไรด์เพื่อป้องกันฟันผุ, แปรงบริเวณขอบเหงือกทุกครั้ง, แปรงฟันอย่างน้อยวันละ 2 ครั้ง ครั้งละ 2-3 นาที, เปลี่ยนแปรงสีฟันทุกๆ 3 เดือนเป็นอย่างน้อย หรืออาจเร็วขึ้นอีกในกรณีที่ขนแปรงเริ่มเสีย
การใช้ไหมขัดฟัน: เป็นการขจัดขี้ฟันที่อยู่ระหว่างฟันได้ แต่ควรใช้อย่างถูกต้องซึ่งขอคำแนะนำได้จากทันตแพทย์
อย่างไรก็ตามทั้งการแปรงฟันร่วมการใช้ไหมขัดฟันอาจไม่สามารถขจัดขี้ฟันออกได้ทั้งหมดเนื่องจากแต่ละคนมีรูปแบบฟันที่แตกต่างกันไปอาจทำให้มีขี้ฟันที่กลายเป็นหินปูนเกิดขึ้นได้ ซึ่งต้องอาศัยการขูดหินปูนโดยทันตแพทย์เท่านั้น

การใช้น้ำยาบ้วนปาก: ฟลูออไรด์ในนั้นจะช่วยป้องกันการเกิดฟันผุ และช่วยลดปริมาณแบคทีเรียได้ หากคุณใช้เพื่อลดอาการปากเหม็น ควรพบทันตแพทย์เพื่อปรึกษาเพราะปากเหม็นอาจบ่งถึงสุขอานามัยของช่องปากที่ไม่ดีได้
การเคี้ยวหมากฝรั่ง: ช่การกินหมากฝรั่งไม่มีน้ำตาลหลังอาหารจะช่วยเพิ่มน้ำลายได้ จึงช่วยลดการเกิดฟันผุได้ แต่อย่างไรก็ตามการเคี้ยวหมากฝรั่งไม่สามารถทดแทนการแปรงฟันและการใช้ไหมขัดฟันได้
 อื่นๆ: การควบคุมปริมาณน้ำตาลในอาหาร และงดการสูบุหรี่/กินเครื่องดื่มที่มีแอลกฮอล์เป็นส่วนผสม
ควรพบทันตแพทย์บ่อยแค่ไหน

ควรไปพบทันตแพทย์ทุกๆ 3 เดือน – 2 ปี ขึ้นอยู่กับสุขภาพฟันของแต่ละคน
    </pre>


  </ion-content>
</ion-view>