<ion-view view-title="Account" style="background-color:#f8f8f8;" >
  <ion-nav-bar >
  </ion-nav-bar>
  <ion-content >
  	<ion-list  id="chatss-list1"  >
      <ion-item class="item-avatar"   >
        <img  src="img/7Q5zKynTASJ6M0HPDdy6_18301614_1153117164798063_2786292534547726916_n.jpg">
        <h2 style="font-size: 1.2em;color: #7ec8ba;" >นางสาวอิง เอมอร</h2>
        <p style="font-size: 1em;color: #7ec8ba;">อายุ 21ปี</p>
      </ion-item>
     </ion-list>
     <div class="button-bar " style="margin-top: 10px;" >
  		<a class="button" style="margin-left: 20px;color: grey; background-color:#E4E4E4;">ข้อมูลส่วนตัว</a>
  		<a class="button" style="margin-right: 20px;color: grey;background-color:#E4E4E4;">บันทึกสุขภาพ</a>
		</div>
     <div class="row center" style="margin-left: 5px; ">
     	 <div class="col col-50"> ส่วนสูง <br>น้ำหนัก
     <br>โรคประจำตัว			:
     <br>แพ้อาหาร				:
     <br>แพ้ยา				:
     <br>ยาที่ใช้อยู่ปัจจุบัน	:
     <br>ดื่นเหล้า สูบบุหรี่	:
     </div>
     	<div class="col col-50" style="color: grey"> 154 <br>
     	42	<br>
     	เบาหวาน<br>แพ้กุ้ง<br>ไม่มี<br>Glibenclamine<br>ไม่ดื่มเหล้าไม่สูบบุหรี่</div>
     </div>
     
  </ion-content>
</ion-view>
